:root {
  --blue: #145369;
  --light-blue: #97caf5;
  --dark-blue: #073d5c;
  --light-gray: #292929;
}

body {
  background-color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Deca', sans-serif;
  color: white;
}

ul, li {
  color: #AAAAAA;
}

p {
  color: #AAAAAA;
}

label {
  color: white;
}

::-webkit-scrollbar {
  height: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 6px;
  border: 1px solid var(--blue)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}

#navbar {
  position: sticky;
  top: 0;
  background-color: var(--blue);
  z-index: 100;
}

.navbar-link {
  color: var(--light-blue);
  margin: 0;
  padding: 0;
  border-radius: 0.3em;
}

.navbar-link:hover {
  color: #c5e7f3;
}

.navbar-link:hover {
  background-color: #2c2c2c;
}

.nav-project-link-alt-bg {
  background-color: #616263;
}

.nav-project-link a {
  color: white;
  margin: 0.2em;
  padding: 0.2em;
  font-family: monospace;
  font-size: 0.9em;
}

.nav-project-link a:hover {
  color: #8ad7f3;
}

#project-title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.project-item {
  background-color: #444444;
  width: auto;
  height: auto;
  margin: 1em;
  border-radius: 0.3em;
}

.project-item h4 {
  margin-top: 0.4em;
}

.project-item h4 a {
  color: white;
}

.project-item h4 a:hover {
  color: lightblue;
}

.project-item p {
  font-size: 0.9em;
}

.project-item ul li {
  font-size: 0.8em;
}

.project-screenshot {
  width: 20em;
  height: auto;
}

#about-me-img {
  width: 18em;
  height: 18em;
  border-radius: 50%;
  margin-left: 0;
  box-shadow: -18px 5px 25px 0px rgba(253,82,127,0.5),-69px -67px 33px -76px rgba(254, 228, 26,0.5),4px 4px 25px 10px rgba(73, 225, 210,0.5);
}

#about-me-text {
  margin-right: 3em;
}

#resume-link {
  font-size: 1.2em;
  font-weight: bold;
  color: white
}

#resume-link:hover {
  color: lightblue;
}

#u-of-m-link {
  color: #faf0d3;
}

#u-of-m-link:hover {
  color: #7a0019;
}
/* CSS Animation for Badge based on time */
.wobble-animation {
  width: 100px;
  height: 100px;
  position: relative;
  transition: transform 0.3s;
  animation: wobble 4s infinite;
}

.bounce-animation:nth-child(even) {
  animation-delay: 6s;
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(-5deg); /* Slightly turn to the left */
  }
  50% {
    transform: rotate(5deg); /* Slightly turn to the right */
  }
}

#cert-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1em;
  margin-bottom: 3em;
}

.about-me-content {
  background-color: var(--light-gray);
}

.tech-chip-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: flex-start;
}

.tech-chip {
  background-color: #4e4e4e;
  border-radius: 0.5em;
  border: 2px solid var(--dark-blue);
  margin: 0.2em;
  font-size: 0.7em;
  text-align: center;
  padding: 0.5em;
  margin: 0.3em;
  width: 6em;
  height: 7em;
  transition: width 0.3s, height 0.3s;
}

.tech-chip img {
  width: 2.5em;
  height: auto;
}

#image-banner {
  width: 100%;
  height: 6em;
  background-image: linear-gradient(to top, #051937, #044268, #007199, #00a3c6, #0ed8eb);
}

#image-banner-reversed {
  width: 100%;
  height: 6em;
  background-image: linear-gradient(to bottom, #051937, #044268, #007199, #00a3c6, #0ed8eb);
}

.input-box {
  margin-top: 1.5em;
}