:root {
  --blue: #145369;
  --light-blue: #97caf5;
  --dark-blue: #073d5c;
  --light-gray: #292929;
}

body {
  background-color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Deca', sans-serif;
  color: white;
}

ul, li {
  color: #AAAAAA;
}

p {
  color: #AAAAAA;
}

label {
  color: white;
}

::-webkit-scrollbar {
  height: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 6px;
  border: 1px solid var(--blue)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}

#navbar {
  position: sticky;
  top: 0;
  background-color: var(--blue);
  z-index: 100;
}

.navbar-link {
  color: var(--light-blue);
  margin: 0;
  padding: 0;
  border-radius: 0.3em;
}

.navbar-link:hover {
  color: #c5e7f3;
}

.navbar-link:hover {
  background-color: #2c2c2c;
}

.nav-project-link-alt-bg {
  background-color: #616263;
}

.nav-project-link a {
  color: white;
  margin: 0.2em;
  padding: 0.2em;
  font-family: monospace;
  font-size: 0.9em;
}

.nav-project-link a:hover {
  color: #8ad7f3;
}

.me-cats-art {
  float: right;
  width: 18em;
  margin: 0.5em 1em 0.5em 1em;
}

#project-title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.project-item {
  background-color: #444444;
  width: auto;
  height: auto;
  margin: 1em;
  border-radius: 0.3em;
}

.project-item h4 {
  margin-top: 0.4em;
}

.project-item h4 a {
  color: white;
}

.project-item h4 a:hover {
  color: lightblue;
}

.project-item p {
  font-size: 0.9em;
}

.project-item ul li {
  font-size: 0.8em;
}

.project-screenshot {
  width: 20em;
  height: auto;
}

#about-me-img-container {
  display: flex;
  justify-content: flex-end;
}

#about-me-img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 0.5em;
  box-shadow: -15px 5px 25px 0px rgba(253,82,127,0.3),-44px -51px 33px -55px rgba(254, 228, 26,0.3),4px 0px 25px 10px rgba(73, 225, 210,0.3);
}

.about-me-bullet-list {
  width: 20em;
  justify-content: flex-start;
}

.personal-description {
  width: 80%;
}

#about-me-text {
  margin-right: 3em;
}

#resume-link {
  font-size: 1.2em;
  font-weight: bold;
  color: white
}

#resume-link:hover {
  color: lightblue;
}

#u-of-m-link {
  color: #faf0d3;
}

#u-of-m-link:hover {
  color: #7a0019;
}
/* CSS Animation for Badge based on time */
.wobble-animation {
  transition: transform 0.3s;
  animation: wobble 4s infinite;
}

.bounce-animation:nth-child(even) {
  animation-delay: 6s;
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(-5deg); /* Slightly turn to the left */
  }
  50% {
    transform: rotate(5deg); /* Slightly turn to the right */
  }
}

#cert-badge {
  position: fixed;
  top: 0.5em;
  right: 6em;
  z-index: 10;
}

#cert-badge-mobile {
  display: none;
}

.about-me-content {
  background-color: var(--light-gray);
  padding: 1em 4em 1em 4em;
}

.tech-chip-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: flex-start;
}

.tech-chip {
  background-color: #4e4e4e;
  border-radius: 0.5em;
  border: 2px solid var(--dark-blue);
  margin: 0.2em;
  font-size: 0.7em;
  text-align: center;
  padding: 0.5em;
  margin: 0.3em;
  width: 6em;
  height: 7em;
  transition: width 0.3s, height 0.3s;
}

.tech-chip img {
  width: 2.5em;
  height: auto;
}

#image-banner {
  width: 100%;
  height: 6em;
  background-image: linear-gradient(to top, #051937, #044268, #007199, #00a3c6, #0ed8eb);
}

#image-banner-reversed {
  width: 100%;
  height: 6em;
  background-image: linear-gradient(to bottom, #051937, #044268, #007199, #00a3c6, #0ed8eb);
}

.input-box {
  margin-top: 1.5em;
}

/* CSS Media Queries */
@media (max-width: 1000px) {
  .about-me-content {
    padding: 1em 1em 1em 1em;
  }
  
  #about-me-img {
    justify-content: flex-end;
  }

  .me-cats-art {
    width: 40%;
    height: 40%;
  }

  
}

@media (max-width: 768px) {
  .me-cats-art {
    width: 40%;
    height: 40%;
  }

  #cert-badge {
    right: 4em;
  }

  .personal-description {
    width: 100%;
  }
}

@media (max-width: 665px) {
  .about-me-bullet-list {
    justify-content: center;
    align-items: center;
  }

  #about-me-img-container {
    justify-content: center;
  }
}

@media (max-width: 525px) {
  #cert-badge {
    display: none;
  }

  #cert-badge-mobile {
    display: flex;
    justify-content: center;
    padding-right: 0.5em;
  }

  .me-cats-art {
    width: 55%;
    height: 55%;
  }
}

@media (min-width: 1000px) {
  .me-cats-art {
    margin-bottom: -3em;
  }
}

@media (min-width: 1300px) {
  #about-me-img-container {
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 4.5em;
  }

  .personal-description {
    width: 50%;
    max-width: 70em;
  }
}