/****************************************************/
/* CSS Variables */

:root {
  /* Newer Additions (light "Earth" theme) */
  /* Colors/style a work in progress */
  --blue: #145369; /* Currently used for: Navbar */

  /* --light-blue: #97caf5; */
  /* --dark-blue: #073d5c; */
  
  /* --dark-green: #155209; */
  /* --green: #1a9922; */
  /* --light-green: #10d820; */
  /* --red: #991a1a; */
  /* --light-red: #ed4e4e; */

  --dark-red: #661313; /* Currently used for: #u-of-m-link */

  --off-white: #eeeeee; /* Currently used for .project-item */
  --light-gray: #f1f1f1; /* Currently used for general background */

  --ground-brown-shallow: #cdaf8d; /* Currently used for: ::-webkit-scrollbar-thumb, .tech-chip */
  --ground-brown: #543607; /* Currently used for: variety (numerous elements) */
  --ground-brown-deeper: #281a04; /* Currently used for .tech-chip, .footer */

  /* --brown-light: #eaddb7; */
  /* --brown-yellow: #bfad73; */

  /* --green-light: #2e9516; */
  /* --green: #146f11; */
  /* --green-dark: #1a4809; */
  
  --grass-green: #86ba26; /* Currently used for: .tech-chip-container */

  /* image banner -> Not currently in use */
  /* --banner-green-faint-light: #a5c189; */
  /* --banner-brown-light: #cec08d; */
  /* --banner-brown-faint-light: #d4ccac; */
}


/****************************************************/
/* General */

body {
  background-color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Deca', sans-serif;
  color: black;
}

ul, li {
  color: black;
}

p {
  color: black;
}

label {
  color: black;
}

::-webkit-scrollbar {
  height: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: var(--ground-brown-shallow);
  border-radius: 6px;
  border: 1px solid var(--ground-brown)
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}


/****************************************************/
/* Navbar */

#navbar {
  position: sticky;
  top: 0;
  background-color: var(--blue);
  z-index: 100;
  opacity: 80%;
}

.navbar-link {
  color: white;
  margin: 0; 
  padding: 0;
  border-radius: 0.3em;
}

.navbar-link:hover {
  color: yellow;
}

.nav-project-link-alt-bg {
  background-color: #616263;
}

.nav-project-link a {
  color: white;
  margin: 0.2em;
  padding: 0.2em;
  font-family: monospace;
  font-size: 0.9em;
}

.nav-project-link a:hover {
  color: yellow;
}


/****************************************************/
/* Featured Artwork */

.me-cats-art {
  display: block;
  float: right;
  width: 18em;
  margin: 0.6em 1em -1.8em 1em;
}


/****************************************************/
/* Featured Projects */
#project-title {
  margin-top: 2em;
  margin-bottom: 1em;
  color: black;
}

.project-item {
  background-color: var(--off-white);
  width: auto;
  height: auto;
  margin: 1em;
  border-radius: 0.3em;
  filter: drop-shadow(5px 5px 20px #a3a3a3);
}

.project-item h4 {
  margin-top: 0.4em;
}

.project-item h4 a {
  color: black;
}

.project-item h4 a:hover {
  color: blue;
}

.project-item p {
  font-size: 0.9em;
}

.project-item ul li {
  font-size: 0.8em;
}

.project-screenshot {
  width: 20em;
  height: auto;
}


/****************************************************/
/* Moveable Super Space Chicken for mobile devices */

.moveable-bird-container {
  display: none;
}

.moveable-bird-container.touch-supported {
  display: block;
  touch-action: none;
}

.moveable-bird {
  cursor: grab; /* Set a grabbing cursor to indicate that it's draggable */
  user-select: none; /* Disable text selection while dragging */
  transition: transform 0.2s; /* Add a smooth transition effect when dragging */
  background-color: transparent;
  border: none;
  outline: none;
  width: 4em;
  height: 4em;
  z-index: 10;
}

.moveable-bird img {
  width: 5em;
  height: auto;
}


/****************************************************/
/* Animated profile image */

#about-me-img-container {
  display: flex;
  justify-content: flex-end;
}

#about-me-img {
  width: 15em;
  height: auto;
  border-radius: 0.5em;
  margin-left: 0;
  margin-right: 0.5em;
  /* box-shadow: 0px 0px 14px 1px rgba(229,98,25,1); */
  /* ,-44px -51px 33px -55px rgba(254, 228, 26,0.3),4px 0px 25px 10px rgba(73, 225, 210,0.3); */
  cursor: url('/images/ssc_cursor.webp'), auto;
}


/****************************************************/
/* About Me Section */

.about-me-bullet-list {
  width: 20em;
  justify-content: flex-start;
  margin-top: 6em;
}

.personal-description {
  width: 80%;
  font-size: 0.85em;
}

#about-me-title {
  color: black;
}

#about-me-text {
  margin-right: 3em;
}

/* #resume-link {
  font-size: 1.2em;
  font-weight: bold;
  color: white
} */

#resume-link:hover {
  color: lightblue;
}

#u-of-m-link {
  color: var(--dark-red);
  text-decoration: underline;
}

#u-of-m-link:hover {
  color: blue;
}

/* CSS Animation for Badge based on time */
.wobble-animation {
  transition: transform 0.3s;
  animation: wobble 4s infinite;
}

.bounce-animation:nth-child(even) {
  animation-delay: 6s;
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(-5deg); /* Slightly turn to the left */
  }
  50% {
    transform: rotate(5deg); /* Slightly turn to the right */
  }
}

#cert-badge {
  position: fixed;
  top: 0.5em;
  right: 6em;
  z-index: 10;
}

#cert-badge-mobile {
  display: none;
}

.about-me-content {
  background-color: var(--light-gray);
  padding: 1em 4em 1em 4em;
}

.tech-chip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ground-brown);
  border-top: 0.8em solid var(--grass-green);
  border-radius: 0.5em;
  filter: drop-shadow(0 -0.2em 0.2em var(--grass-green));
  
}

.tech-chip-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tech-chip-row > * {
  white-space: nowrap;
}

.tech-chip {
  background-color: var(--ground-brown-shallow);
  border-radius: 0.5em;
  border: 0.3em solid var(--ground-brown-deeper);
  font-size: 0.7em;
  text-align: center;
  padding: 0.5em;
  margin: 0.3em;
  width: 7em;
  height: 7.5em;
  transition: width 0.3s, height 0.3s;
}

.tech-chip img {
  width: 2.5em;
  height: auto;
}


/****************************************************/
/* Page Banners */

/* #image-banner-reversed {
  width: 100%;
  height: 8em;
  background-image: linear-gradient(to bottom, var(--banner-green-faint-light), var(--banner-brown-light), var(--banner-brown-faint-light));
} */

#image-banner {
  width: 100%;
  height: 8em;
  background-color: lightgrey;
  /* border-top: 3em solid var(--blue); */
  /* border-bottom: 0.4em solid var(--brown-yellow); */
}


/****************************************************/
/* Contact Me Section */

#contact-me-title {
  color: black;
}

/* work in progress -> need to darken -> check CSS framework docs */
.input-box {
  margin-top: 1.5em;
}


/****************************************************/
/* Footer */

.footer {
  border-top: 0.4em solid var(--brown-yellow);
  background-color: var(--ground-brown-deeper);
  border-bottom: 0.4em solid var(--ground-brown);
}

/****************************************************/
/* CSS Media Queries */

@media (max-width: 1000px) {
  .about-me-content {
    padding: 1em 1em 1em 1em;
  }
  
  #about-me-img {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {

  #cert-badge {
    right: 4em;
  }

  .personal-description {
    width: 100%;
  }

  .moveable-bird {
    display: block;
  }
}

@media (max-width: 665px) {
  .about-me-bullet-list {
    justify-content: center;
    align-items: center;
  }

  #about-me-img-container {
    justify-content: center;
  }
}

@media (max-width: 525px) {
  #cert-badge {
    display: none;
  }

  #cert-badge-mobile {
    display: flex;
    justify-content: center;
    padding-right: 0.5em;
  }
}

@media (min-width: 1300px) {
  #about-me-img-container {
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 4.5em;
  }

  .personal-description {
    width: 50%;
    max-width: 70em;
  }
}


/****************************************************/

.emailSendStatus {
  margin-top: 1.5em;
  font-family: monospace;
  font-size: 0.8em;
  background-color: black;
  border-radius: 0.5em;
  padding: 0.4em;
  width: 15em;
}
